@import url('https://fonts.googleapis.com/css2?family=Gasoek+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
@import "tw-animate-css";

:root {
  --font-brutal: "Gasoek One", sans-serif;
  --color-brutal-red: #ab2434;
  /* #1d56f7 */
  --color-brutal-orange: #ff6f00;
  --color-brutal-green: #126445;
  --color-brutal-violet: #8e24aa;
  --color-brutal-yellow: #ffd600;
  --color-brutal-golden: #ffbe1a;
  --color-brutal-white: #fff;
  --color-brutal-black: #111;
}

.bg-red{
  background: #ab2434;
}

.bg-green{
  background: #126445;
}



body {
  font-family: 'Inter', system-ui, sans-serif;
}


/* markdown */
/* Títulos */
.title-center {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin: 2rem 0 1rem;
}

.subtitle {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 1.5rem 0 1rem;
  color: #3b3b3b;
}

/* Texto general */
.paragraph {
  font-size: 1rem;
  line-height: 1.8;
  margin-bottom: 1rem;
  color: #444;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

.bold {
  font-weight: bold;
}

.highlight {
  background-color: #fef3c7; /* amarillo claro */
  padding: 0.1rem 0.4rem;
  border-radius: 4px;
}

.quote {
  font-style: italic;
  padding-left: 1rem;
  border-left: 4px solid #ccc;
  color: #666;
  margin: 1.5rem 0;
}

/* Imágenes */
.img-centered {
  display: block;
  margin: 2rem auto;
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Tablas */
.table {
  width: 100%;
  border-collapse: collapse;
  margin: 1.5rem 0;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 0.75rem;
  text-align: left;
}

.table th {
  background-color: #f3f4f6;
  font-weight: 600;
}

/* Separadores */
.separator {
  border-top: 2px solid #eee;
  margin: 2rem 0;
}
